.add-to-cart-btn {
  font-size: smaller;
  background-color: #0b8b36;
  color: white;
  padding-left:0.5rem; /* Equivalent to px-4 */
  padding-right: 0.5rem; /* Equivalent to px-4 */
  padding-top: 0.3rem; /* Equivalent to py-2 */
  padding-bottom: 0.3rem; /* Equivalent to py-2 */
  border-radius: 0.2rem; /* Equivalent to rounded-md */
  transition-duration: 300ms; /* Equivalent to transition duration-300 */
}

.add-to-cart-btn:hover {
  background-color: #095c5c;
}
